# Ignore Google Cloud credentials
config/cloud_credentials.json

# Ignore data files
data/
reports/

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore VS Code settings
.vscode/
__pycache__/
.ipynb_checkpoints/
*.parquet
*.pdf
config/cloud_credentials*
